.content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.header-title {
  background-color: #eeeeee;
  border: 1px solid #bbbbbb;
  font-size: 200%;
  text-align: left;
  padding: 1% 0.5%;
}
.footer {
  background-color: #eeeeee;
  border: 1px solid #bbbbbb;
  padding: 0.5% 2%;
  margin-top: auto;
}

.default-app-settings {
  padding: 1% 5%;
  text-align: center;
}

.country-graph-table {
  width: 100%;
}

.font-header-3 {
  font-size: 160%;
}

.font-header-4 {
  font-size: 140%;
}

.new-cases-span {
  font-size: 80%;
  opacity: 0.85;
}

.font-weight-bold {
  font-weight: bold;
}

.loading-gif-style {
  width: 20rem;
  height: auto;
  margin: auto;
  display: block;
  text-align: center;
}

td,
th {
  vertical-align: top;
}

.covid-statistics-table {
  background-color: #eeeeee;
  border-collapse: separate;
  border-spacing: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #808080;
  line-height: 1.75rem;
}

.covid-statistics-table,
table {
  width: 30rem;
  text-align: left;
}

.scrollable-population-table {
  overflow-y: scroll;
  white-space: nowrap;
  height: 10rem;
  font-size: 90%;
}

.total-population-table {
  border-collapse: collapse;
  width: 40rem;
  text-align: center;
}

.total-population-table td,
.total-population-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.total-population-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.total-population-table tr:hover {
  background-color: #ddd;
}

.total-population-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #eeeeee;
}
